$bgcGoogleMap: #3498DB;
.container_google_maps{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: $bgcGoogleMap;
}

.homepage {
    max-width: 1400px;
    height: 500px;
}
