$bgcGoogleMap: #3498DB;
.container_google_maps{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
<<<<<<< HEAD
    background-color: $bgcGoogleMap;
=======
    padding-bottom: 250px;
>>>>>>> 5463c5fca62595bb373f9e4c46533fba4065a71b
}