.text_link {
    color: rgb(169, 172, 172);
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}


.text_link > a:hover {
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


