.text_link > a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}


.text_link > a:hover {
    color: white;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}


