.container {
    max-width: 1400px;
	padding-top: 65px;
	position: relative;
	z-index: 1;
	-webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0;
}
