.button{
    background-color:#1A5276;
    color:white;
    font-size: 20px;
    padding:10px 40px 10px 40px;
    border:0;
    margin: 10px;
    border-radius: 25px;
    outline: none;
}
.button:hover{
    background-color: #4e7c9c;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}