.container_aboutMe{
    width:100%;
    max-width:1150px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:#5499C7;
    margin-bottom: 30px;
}
.aboutMe_title{
    color:white;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
}
li{
    padding-bottom: 20px;
    line-height: 35px;
}
.aboutMe_photo img{
    width:300px;
    height: 300px;
    margin-right: 20px;
    border-radius: 300px;
}
.aboutMe_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
}
.aboutMe_items{
  list-style-type: none;
}
.items_name,.items_surname,.items_age,.items_description{
    font-size: 20px;
    font-weight: 600;
    color:white;
}
@media screen and (max-width: 560px){
      .aboutMe_container{
          flex-direction: column;
          justify-content: center;
          text-align: center;
      }
}