$basic-color: #0c9dc9;
$boxShadowMyWishesCol: rgba(0, 0, 0, 0.4);
.container_aboutMe {
  max-width: calc(1400px - 200px);
  height: 100%;
  margin: 50px auto;
  padding: 35px;
  background-color: $basic-color;
  box-shadow: 0px 0px 20px $boxShadowMyWishesCol;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 20px auto;
  }
  .aboutMe_title {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .aboutMe_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    .aboutMe_photo {
      img {
        width: 300px;
        height: 300px;
        margin-right: 45px;
        border-radius: 300px;
        @media (max-width: 480px) {
          margin: 0 auto;
        }
      }
    }
    .aboutMe_description {
      ul {
        list-style-type: none;
        margin: 25px 0;
        li {
          padding-bottom: 10px;
          line-height: 35px;
          font-weight: 500;
          font-size: 18px;
          span{
              font-weight: 700;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 560px) {
  .aboutMe_container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
