.modal{
    position: fixed;
    z-index: 1;
    width:400px;
    height: 200px;
    background-color: rgba(0,0,0,0.6);
    color:blue;
    top:32%;
    left:42%;
    right:25%;
  }
.close-btn{
    position: absolute;
    right:0%;
    background-color:#1A5276;
    color:white;
    font-size: 20px;
    padding:10px 40px 10px 40px;
    border:0;
    border-radius: 25px;
}
.confirmation{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;  
}