$basic-color: #0c9dc9;
.modal{
    position: fixed;
    z-index: 1;
    width:30%;
    background-color: rgba($color: (#EBEDEF), $alpha: 1);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%)
  }
.close-btn{
    position: absolute;
    right:0%;
    background-color:transparent;
    border:0;
    border-radius: 100%;
    color:black;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}